<div class="first">
	<div class="name">
		<p style="font-size: 60px;">ARUN UMAPATHY</p>
		<p class="subtext">Full-Stack Web Developer + Entrepreneur + </p>
	</div>
	<div class="arunimage">	
		<%= image_tag "arunhome.png" %>
	</div>
</div>
<div class="second">

</div>